* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(197, 125, 113, 1) 31%, rgba(218, 226, 242, 1) 100%);
}

.pinkball img {
    position: absolute;
    right: 10%;
    top: 10%;
    height: 10vh;
}



.molecule img {
    position: absolute;
    bottom: 10%;
    right: 15%;
    height: 10vh;
}

.gridbox img {
    position: absolute;
    bottom: 40%;
    right: 25%;
    height: 25vh;
    transform: rotate(15deg);
    opacity: 0.6;
}

.brain img {
    position: absolute;
    bottom: 45%;
    right: 28%;
    height: 17vh;
    opacity: 0.9;
}