@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.left h3 {
    font-weight: 100;
    font-size: 3em;
}

.left h4 {
    font-weight: 200;
    font-size: 1em;
}

.parent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    display: flex;
    height: 70vh;
    width: 70%;
    border-radius: 10px;
}


.left {
    flex: 1;
    padding: 1em;
    margin: auto;
}

.right {
    flex: 1;
    margin: auto;
    padding: 1em;
}

.right input,
button.upload {
    margin: 1em;
    border-radius: 20px;

}


nav {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;

    display: flex;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid #807f7e;
}

.navleft,
.navright {
    margin: auto;
    flex: 1;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.arc {
    position: absolute;
    z-index: 1;
    right: 10vw;
}

.semi {
    position: absolute;
    right: 20%;
    bottom: 15vh;
}

.upload {
    background-color: transparent;
    border: 1px solid black;
    padding: 1em;
}

.right form {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(197, 125, 113, 1) 31%, rgba(218, 226, 242, 1) 100%);
}

.pinkball img {
    position: absolute;
    right: 10%;
    top: 10%;
    height: 10vh;
}



.molecule img {
    position: absolute;
    bottom: 10%;
    right: 15%;
    height: 10vh;
}

.gridbox img {
    position: absolute;
    bottom: 40%;
    right: 25%;
    height: 25vh;
    transform: rotate(15deg);
    opacity: 0.6;
    z-index: -3;

}

.brain img {
    position: absolute;
    bottom: 45%;
    right: 28%;
    height: 17vh;
    opacity: 0.9;
    z-index: -1;
}